<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DomowaWypozyczalnia.Properties.Settings.BDConnectionString"
            connectionString="Data Source=DESKTOP-FC3IJJV\SQLEXPRESS;Initial Catalog=BD;Integrated Security=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>